<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FriendsGiving.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A0E74192CAA2F84004F8932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0E74292CAA2F86004F8932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0E74332CAA2F86004F8932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
